@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
  /* outline: 1px solid red; */
}
.bg-morning{
    height: 100vh;
    background: rgb(0, 190, 228);
    background: linear-gradient(315deg, rgb(0, 199, 129) 0%, rgb(0, 180, 216) 100%); 
}
.bg-afternoon{
    height: 100vh;
    background: rgb(0, 190, 228);
    background: linear-gradient(315deg, #995214 0%, #291743 74%); 
}
.bg-night{
    height: 100vh;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

}
.locate{
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.95);
}
.date{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: .9em;
}
.temp{
    color: rgb(255, 255, 255, .95);
    min-height: 66vh;
}
.temp img{
    border-radius: 50%;
    height: 120px;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}
.temp hr{
    margin: 0;
    border-radius: 5px;
    padding: 1px;
    width: 30px;
    animation: floatline 4s linear infinite;
}
.temp span{
    color: rgba(255, 255, 255, 0.541);
}
.dev{
    color: rgba(255, 255, 255, 0.9);
}
.dev a{
    color: rgba(255, 255, 255, 0.9);
}
@keyframes float{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-10px);
    }
    100%{
        transform: translatey(0px);
    }
}
@keyframes floatline{
    0%{
        transform:scaleX(150%);
    }
    50%{
        transform:scaleX(100%);
    }
    100%{
        transform:scaleX(150%);
    }
}